<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Menu TP2</h1>
<ul>
  <li><a href="factorial?num1=3">Punto1</a></li>
  <li><a href="ano?num1=2010">Punto2</a></li>
  <li><a href="par?num1=78">Punto3</a></li>
  <li><a href="mes?num1=14">Punto4</a></li>
  <li><a href="notas?num1=5">Punto6</a></li>
  <li><a href="multiplo?num1=0">Punto8</a></li>
  <li><a href="bfor?num1=10">Punto9</a></li>
  <li><a href="bwhile?num1=15">Punto10</a></li>
  <li><a href="bdowhile?num1=8">Punto11</a></li>
  <li><a href="tiempo?num1=8">Punto12</a></li>
  

</ul>

</body>
</html>